src/main/resources/wsdl/voterreg.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.baina.com/spring/soap/api/voterreg" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.baina.com/spring/soap/api/voterreg" targetNamespace="http://www.baina.com/spring/soap/api/voterreg">
<wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.baina.com/spring/soap/api/voterreg">
<xsd:element name="VoterEnrollment">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="name" type="xsd:string"/>
<xsd:element name="age" type="xsd:int"/>
<xsd:element name="state" type="xsd:string"/>
<xsd:element name="zipcode" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VoterDetails">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="id" type="xsd:int"/>
<xsd:element name="name" type="xsd:string"/>
<xsd:element name="age" type="xsd:int"/>
<xsd:element name="state" type="xsd:string"/>
<xsd:element name="zipcode" type="xsd:string"/>
<xsd:element name="results" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:portType name="VoterRegister"> </wsdl:portType>
<wsdl:binding name="VoterRegisterSoap11" type="tns:VoterRegister">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
</wsdl:binding>
<wsdl:service name="VoterRegisterService">
<wsdl:port binding="tns:VoterRegisterSoap11" name="VoterRegisterSoap11">
<soap:address location="http://localhost:8081/ws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>